name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '7,27,47 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest data
      run: |-
        curl https://raw.githubusercontent.com/reasondigital/Shared-Service-Layer-Search/main/docs/api_example.yml | jq . > search.yml
        curl https://sf-develop-uks.wallet.services/swagger/v1/swagger.json | jq . > referrals.yml
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
